.logo_copa26_arredondado{
    -fx-background-color: #000000;
    -fx-background-radius: 25;
}
.white_button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 25 10 25;
}

.white_button .label {
    -fx-text-fill: white;
}

.white_button .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-max-width: 0;
}

.white_button .arrow-button .arrow {
    -fx-background-color: white;
}

.white_button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.menu-item {
    -fx-background-color: white;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:hover {
    -fx-background-color: #eeeeee;
}
.black_button{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 10 25 10 25;
}
.golden_button{
    -fx-background-color: transparent;
    -fx-border-color: #c79842;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: #c79842;
    -fx-font-size: 16px;
    -fx-padding: 10 25 10 25;
}
.white{
    -fx-background-color: #fefefe;
}
.gray{
    -fx-background-color:#f7f6f4
}
.NavBarEquipes{
    -fx-background-color: #CECECE;
    -fx-background-radius: 15 15 0 0;
    -fx-border-radius: 15 15 0 0;
    -fx-border-width: 1;
}
.letra-grupo {
    -fx-background-color: #ba7e02;
    -fx-background-radius: 30 0 30 0;
    -fx-padding: 8 14 8 14;
}
.card-group_stage{
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #d9d9d9;
    -fx-border-width: 1;
}
.textfield_equipes{
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #E5E5E5;
    -fx-border-width: 1;
    -fx-padding: 0 0 0 40;
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #A0A0A0;
}
.scrol_panel{
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.list_equipes{
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 15 15;
    -fx-border-radius: 0 0 15 15;
    -fx-border-color: #d9d9d9;
    -fx-border-width: 1;
}
/*A sequência é utilizada para criar o card de campeões na tela de campeões da copa*/
.card-campeao {
    -fx-pref-width: 250;
    -fx-pref-height: 250;
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}
.text-ano {
    -fx-font-size: 35px;
    -fx-font-family: 'Roboto Condensed Black';
    -fx-text-fill: #c9972e;
}
.linha-dourada {
    -fx-stroke: #c9972e;
    -fx-stroke-width: 2;
}
.text-selecao {
    -fx-font-size: 25px;
    -fx-font-family: 'Roboto Condensed Black';
    -fx-text-fill: black;
}
.text-cidade {
    -fx-font-size: 14px;
    -fx-font-family: 'Inter 18pt';
    -fx-text-fill: #aea8a8;
}
.escudo {
    -fx-pref-width: 83;
    -fx-pref-height: 112;
}
.choice-box {
    -fx-background-color: white;
    -fx-border-color: #E5E5E5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 0 0 0 30;
    -fx-font-size: 13px;
    -fx-pref-height: 45;
    -fx-font-family: "Inter 18pt";
}
.choice-box .arrow {
    -fx-background-color: #C89B2C;
}
.text-fieldCadastroPartida{
    -fx-background-color: white;
    -fx-border-color: #E5E5E5;
    -fx-border-width: 1;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-padding: 0 0 0 30;
    -fx-font-size: 10px;
    -fx-font-family: "Inter 18pt";
    -fx-text-fill: #c7c7c7;
    -fx-pref-height: 45;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #A0A0A0;
}
.botao-cancelar {
    -fx-background-color: white;
    -fx-border-color: #b98d34;
    -fx-border-width: 1;
    -fx-background-radius: 12;
    -fx-border-radius: 10;
    -fx-text-fill: #b98d34;
    -fx-font-family: "Roboto Condensed Black";
    -fx-font-size: 13px;
    -fx-font-weight: 600;
    -fx-pref-width: 191;
    -fx-pref-height: 38;
}
.botao-salvar {
    -fx-background-color: linear-gradient(to right, #D4AA3A, #C89B2C);
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Condensed Black";
    -fx-pref-width: 191;
    -fx-pref-height: 38;
}
.date-picker {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 12;
    -fx-padding: 5;
    -fx-pref-height: 45;
}
.date-picker .text-field {

    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family:"Inter 18pt";
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #999999;
}
.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
}